.page-title {
    color: #fff;
    text-align: center;
    margin: 2rem 0;
    font-size: 3rem;
}

.characters {   
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin: 3rem;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.button-group .alien {
    background: #ec4899;
    animation: pulse 3s infinite;
}

.button-group .alien:active {
    background: #de3545;
}


@media screen and (max-width:768px) {
    .characters {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: .5rem;
    }
}


@media screen and (max-width:576px) {
    .characters {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}


@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #ec4899;
    }
    70% {
        box-shadow: 0 0 0 1rem rgba(239, 255, 151,0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(239, 255, 151,0);
    }

}